<img src="https://raw.githubusercontent.com/bachtiyarmawork/DQLab-Project/main/BP%20-%20Header.png">

# üíæ 1. Variabel

Variabel pada bahasa pemrograman adalah tempat penyimpanan untuk data atau informasi. Variabel digunakan untuk menyimpan nilai, yang kemudian bisa diakses atau dimanipulasi dalam program
<br>

Aturan penamaan variabel (pada Python):

*   Hanya huruf, angka dan *underscore*
*   Nama variabel tidak dapat diawali dengan angka
*   Usahakan nama variabel sesuai dengan kegunaannya
*   <i>**lowercase** or **snake_case** preferred</i>

<br>

**Contoh :**
Sebuah perusahaan teknologi terkemuka, DQTech tahun ini telah membukukan revenue sebesar 40 Miliar rupiah. Pada python, buatlah sebuah variabel untuk menyimpan nilai tersebut (revenue DQTech)

**Jawab :** *Ketikan ini pada cell lalu eksekusi (run)*
```
revenue_DQTech = 40000000000
```

Perintah ini tidak akan mengeluarkan output apapun, hanya menyimpan variabel ke dalam memory.

docs : <i>https://docs.python.org/3/faq/programming.html#what-are-the-rules-for-local-and-global-variables-in-python</i>

### üë®‚Äçüíª Task 1 - A

Sebuah kode transaksi `'TRX20230001'` akan disimpan dalam sebuah variabel, coba buat sebuah variabel lalu assign nilai tersebut kedalamnya!

*Note : Perhatikan aturan penamaan variabel ya!*

In [ ]:
# Write your code below here & exec!
kode_transaksi='TRX20230001'

### üë®‚Äçüíª Task 1 - B

Untuk menghitung PAT (Profit After Tax) pada sebuah program, perlu dibuat sebuah variabel pada Python yang menyimpan sebuah nilai PPN (Pajak Penerimaan Negara) sebesar 12%. Buatlah variabel tersebut dengan mengetikan kodenya dibawah ini!

*Note : Perhatikan aturan penamaan variabel ya!*

In [ ]:
# Write your code below here & exec!
ppn=0.12

---

# üñ®Ô∏è 2. Menampilkan Variabel

Gunakan fungsi `print()` untuk menampilkan sesuatu pada python

<br>

**Contoh :**
Sebuah perusahaan teknologi terkemuka, DQTech tahun ini telah membukukan revenue sebesar 40 Miliar rupiah. Pada python, buatlah sebuah variabel untuk menyimpan nilai tersebut (revenue DQTech) dan tampilkan nilainya dengan menambahkan beberapa kalimat penjelas.

**Jawab :** *Ketikan ini pada cell lalu eksekusi (run)*
```
# Buat variabel
revenue_DQTech = 40000000000

# Tampilkan hasilnya
print('Pendapatan yang diperoleh DQTech adalah', revenue_DQTech)

>>> Output :      
>>> Pendapatan yang diperoleh DQTech adalah 40000000000
```

docs : _https://docs.python.org/3/library/functions.html#print_

### üë®‚Äçüíª Task 2 - A

Sebuah nilai `'TRX20230001'` akan disimpan dalam sebuah variabel, coba buat sebuah variabel lalu assign nilai tersebut kedalamnya lalu tampilkan outputnya!

Gunakan `Style 1 : print('...', variabel1, ...)`

In [ ]:
# Write your code below here & exec!
kode_transaksi = 'TRX20230001'

print('kode transaksi anda =', kode_transaksi)
print('kode transaksi anda =', kode_transaksi, 'blablabla', kode_transaksi)

kode transaksi anda = TRX20230001
kode transaksi anda = TRX20230001 blablabla TRX20230001

### üë®‚Äçüíª Task 2 - B

Perintah yang sama namun gunakan `Style 2 : print(f'... {variabel}')`

<br><i>Note : f'...{}' pada Python disebut f-string atau formatted string literal. Dengan f-string, ekspresi di dalam {} akan dievaluasi dan hasilnya dimasukkan langsung ke dalam string</i>

docs : _https://docs.python.org/3/reference/lexical_analysis.html#f-strings_

In [ ]:
# Write your code below here & exec!
kode_transaksi = 'TRX20230001'

print(f'kode transaksi anda ={kode_transaksi}')
print(f'kode transaksi anda ={kode_transaksi} blablabla {kode_transaksi}')

kode transaksi anda =TRX20230001
kode transaksi anda =TRX20230001 blablabla TRX20230001

#### ***Apa jadinya jika tanpa formatted string literal?***

In [ ]:
# Write your code below here & exec!
kode_transaksi = 'TRX20230001'

print('kode transaksi anda ={kode_transaksi}')
print(f'kode transaksi anda =kode_transaksi')

kode transaksi anda ={kode_transaksi}
kode transaksi anda =kode_transaksi

variabel akan menjadi karakter biasa

### üë®‚Äçüíª Task 2 - C

Perintah yang sama namun gunakan `Style 3 : print('... {}'.format(variabel))`

In [ ]:
# Write your code below here & exec!
kode_transaksi = 'TRX20230002'

print('kode transaksi anda ={}'.format(kode_transaksi))
print('kode transaksi {} anda ='.format(kode_transaksi))

kode transaksi anda =TRX20230002
kode transaksi TRX20230002 anda =

#### ***Bagaimana jadinya jika tanda {} lebih dari satu tapi pada method .format(...) hanya menyebutkan 1 variabel saja?***

In [ ]:
kode_transaksi1='TRX20230001'
kode_transaksi2='TRX20230002'
print('kode transaksi anda adalah {}{}'.format(kode_transaksi1, kode_transaksi2))
print('kode {} transaksi {}'.format(kode_transaksi1, kode_transaksi2))

kode transaksi anda adalah TRX20230001TRX20230002
kode TRX20230001 transaksi TRX20230002

Kesimpulan:

...

### üë®‚Äçüíª Task 2 - D

Bang Messi, seorang customer di DQTech memiliki data diri sebagai berikut :     

*   Nama = Messi
*   Usia = 36 Tahun
*   Alamat = Tegal Bahari

Simpanlah beberapa data tersebut kedalam variabel dengan expected output seperti berikut

`Messi (36) beralamat di Tegal Bahari merupakan pelanggan loyal di DQTech`

In [ ]:
# Write your code below here & exec!
nama_pelanggan = 'Messi'
usia_pelanggan = 36
alamat_pelanggan = 'Tegal Bahari'

# Tampilkan hasil
#Format 2A
print('', sep='')
#Format 2B
print(f'{nama_pelanggan} ({usia_pelanggan}) beralamat di {alamat_pelanggan} merupakan pelanggan loyal di DQTech')
#Format 2C
print('{} ({}) beralamat di {} merupakan pelanggan loyal di DQTech'.format(nama_pelanggan, usia_pelanggan, alamat_pelanggan))

Messi (36) beralamat di Tegal Bahari merupakan pelanggan loyal di DQTech
Messi (36) beralamat di Tegal Bahari merupakan pelanggan loyal di DQTech

---

# ‚û°Ô∏è 3. Assignment

Assignment adalah tindakan memberikan nilai atau data ke sebuah variabel.

*   Variable yang akan diassignment harus terletak disebelah kiri tanda sama dengan ( = )
*   Variabel yang sama jika diassign 2 kali maka nilai yang akan disimpan adalah yang paling akhir
*   Python men-support proses assignment satu nilai pada multivariable
*   Python juga men-support proses assignment banyak nilai pada multivariable secara serentak
*   Proses sebelah kanan akan dilakukan terlebih dahulu baru di-assign ke variable sebelah kiri

### üë®‚Äçüíª Task 3 - A

Metrik yang digunakan dalam periklanan online dan pemasaran digital untuk mengukur seberapa sering pengguna mengklik tautan atau iklan tertentu dibandingkan dengan seberapa sering tautan atau iklan tersebut ditampilkan kepada mereka biasa disebut dengan Click-Through Rate (CTR).

CTR yang diperoleh DQTech sebesar 4,3896% yang kemudian nilai ini ingin disimpan dalam sebuah variabel bernama CTR_DQtech lalu ingin ditampilkan hasilnya. Namun, Sendja mengalami error saat proses penyimpanan variabel tersebut.

Bantu Sendja untuk memperbaiki kode dibawah ini

In [ ]:
# Help Sendja!

# Initialize Variable
4,3896% = 'CTR_DQTech'

# Show the result
pritn('CTR_DQTech')

SyntaxError: ignored

In [ ]:
# Perbaiki disini
CTR_DQTech=4.3896
print(f'{str(CTR_DQTech)}%')

#nilai asli yg dimasukan ke variabel
CTR_DQTech=0.043896
print(f'{str(CTR_DQTech*100)}%')

4.3896%
4.3896%

Perbaikan yang dilakukan:

...

### üë®‚Äçüíª Task 3 - B

Tulis dalam satu baris proses assignment beberapa variabel metrik penting DQTech berikut pada python :    

* GMV = 30%
* AOV = 3.567.000
* COGS = 5,6%

*Note : Just One Line Needed!*

In [ ]:
# Write your code below here & exec!
GMV, AOV, COGS = 0.30, 3567000, 0.056

# Tampilkan nilainya
print(f'{GMV}, {AOV}, {COGS}')
#atau tampilannya bisa kaya di bawah
print(f'GMV = {GMV}\nAOV = {AOV}\nCOGS = {COGS}')

0.3, 3567000, 0.056
GMV = 0.3
AOV = 3567000
COGS = 0.056

---

# üìà 4. Tipe Data

Tipe data adalah jenis nilai yang disimpan pada sebuah variabel. Jenis tipe data pada python : <br><br>    

<table>
  <tr>
    <th>Tipe Data</th>
    <th>Kepanjangan</th>
    <th>Deskripsi</th>
  </tr>
  <tr>
    <td>str</td>
    <td>string</td>
    <td>Karakter / alfabet</td>
  </tr>
  <tr>
    <td>int</td>
    <td>integer</td>
    <td>Bilangan Bulat</td>
  </tr>
  <tr>
    <td>float</td>
    <td>floating-point number</td>
    <td>Semua Bilangan (baik bulat maupun desimal)</td>
  </tr>
  <tr>
    <td>complex</td>
    <td>complex number</td>
    <td>Campuran bilangan bulat dan bilangan imajiner</td>
  </tr>
  <tr>
    <td>bool</td>
    <td>boolean</td>
    <td>Nilai Kebenaran (True / False)</td>
  </tr>
</table>

Untuk memeriksa tipe data pada sebuah variabel gunakan fungsi `type(variabel)`

<br>

**Contoh :**
Sebuah perusahaan teknologi terkemuka, DQTech tahun ini telah membukukan revenue sebesar 40 Miliar rupiah. Pada python, buatlah sebuah variabel untuk menyimpan nilai tersebut (revenue DQTech) dan tampilkan nilainya beserta tipe datanya dengan menambahkan beberapa kalimat penjelas

**Jawab :** *Ketikan ini pada cell lalu eksekusi (run)*
```
# Buat variabel
revenue_DQTech = 40000000000

# Tampilkan hasilnya
print(f'Pendapatan yang diperoleh DQTech adalah {revenue_DQTech} dengan tipe data {type(revenue_DQTech)}')

>>> Output :      
>>> Pendapatan yang diperoleh DQTech adalah 40000000000 dengan tipe data <class 'int'>
```

### üë®‚Äçüíª Task 4 - A

Aplikasi baru yang diluncurkan oleh perusahaan teknologi ternama DQTech mendapat rating 4.9 (scoring max = 5.0). Nilai tersebut akan disimpan kedalam sebuah variabel pada python sehingga bantulah Sendja untuk membuat variabel dan tampilkan nilai beserta tipe datanya!

In [ ]:
# Write your code below here & exec!
rating_dqtech = 4.9

# Tampilkan hasilnya
print(f'rating score DQTech adalah {rating_dqtech} Bertipe : {type(rating_dqtech)}')

rating score DQTech adalah 4.9 Bertipe : <class 'float'>

### üë®‚Äçüíª Task 4 - B

Kode yang dituliskan Sendja berikut dapat dieksekusi oleh Python,

```
retention_rate = '0.8912'

print('Variabel retention_rate menyimpan nilai = {retention_rate} dengan tipe data = {type}')
```

namun outputnya tidak sesuai dengan yang Sendja harapkan. Bantulah Sendja untuk memperbaiki kesalahan yang dilakukan olehnya!

In [ ]:
# Help Sendja!
retention_rate = '0.8912'

print('Variabel retention_rate menyimpan nilai = {retention_rate} dengan tipe data = {type}')

Variabel retention_rate menyimpan nilai = {retention_rate} dengan tipe data = {type}

In [ ]:
# Help Sendja!
retention_rate = 0.8912

print(f'Variabel retention_rate menyimpan nilai = {retention_rate} dengan tipe data = {type(retention_rate)}')
print(f'Variabel retention_rate menyimpan nilai = {retention_rate} dengan tipe data = ',type(retention_rate))
print(f'Variabel retention_rate menyimpan nilai = {retention_rate} dengan tipe data = ',type(retention_rate), sep='')

Variabel retention_rate menyimpan nilai = 0.8912 dengan tipe data = <class 'float'>
Variabel retention_rate menyimpan nilai = 0.8912 dengan tipe data =  <class 'float'>
Variabel retention_rate menyimpan nilai = 0.8912 dengan tipe data = <class 'float'>

Perbaikan yang dilakukan:

...

---

# üõ† 5. Konversi Tipe Data

Tipe data pada sebuah variabel dapat diubah dari aslinya dengan syarat variabel yang akan di konversi tipe datanya sesuai. Untuk mengubah suatu variabel dengan tipe data tertentu menjadi tipe data yang diinginkan gunakan fungsi berikut :

<ol>
<li><b>int</b>(nama_variabel) : untuk mengubah tipe data variabel menjadi integer / bil. bulat<br><i><a href="https://docs.python.org/3/library/functions.html#int">docs : https://docs.python.org/3/library/functions.html#int</i></a></li><br>
<li><b>float</b>(nama_variabel) : untuk mengubah tipe data variabel menjadi float / bil. real
<br><i><a href="https://docs.python.org/3/library/functions.html#float">docs : https://docs.python.org/3/library/functions.html#float</i></a></li><br>
<li><b>str</b>(nama_variabel) : untuk mengubah tipe data variabel menjadi string
<br><i><a href="https://docs.python.org/3/library/functions.html#func-str">docs : https://docs.python.org/3/library/functions.html#func-str</i></a></li><br>
<li><b>bool</b>(nama_variabel) : untuk mengubah tipe data variabel menjadi boolean
<br><a href="https://docs.python.org/3/library/functions.html#bool"><i>docs : https://docs.python.org/3/library/functions.html#bool</i></a></li><br>
</ol>

Namun, yang perlu diperhatikan adalah tidak semua variabel dengan tipe data tertentu dapat dengan mudah diubah tipe datanya.


<br>

**Contoh :**
Sebuah perusahaan teknologi terkemuka, DQTech tahun ini telah membukukan revenue sebesar 40 Miliar rupiah. Pada python, buatlah sebuah variabel untuk menyimpan nilai tersebut (revenue DQTech) dan tampilkan nilainya beserta tipe datanya dengan menambahkan beberapa kalimat penjelas. Kemudian ubah tipe datanya menjadi float!

**Jawab :** *Ketikan ini pada cell lalu eksekusi (run)*
```
# Buat variabel
revenue_DQTech = 40000000000

# Tampilkan hasilnya
print(f'Pendapatan yang diperoleh DQTech adalah {revenue_DQTech} dengan tipe data {type(revenue_DQTech)}')

>>> Output :      
>>> Pendapatan yang diperoleh DQTech adalah 40000000000 dengan tipe data <class 'int'>
```

Proses Konversi tipe data
```
# Buat variabel
revenue_DQTech = float(revenue_DQTech)

# Tampilkan hasilnya
print(f'Pendapatan yang diperoleh DQTech adalah {revenue_DQTech} dengan tipe data {type(revenue_DQTech)}')

>>> Output :      
>>> Pendapatan yang diperoleh DQTech adalah 40000000000.0 dengan tipe data <class 'float'>
```

### üë®‚Äçüíª Task 5

Lakukan eksperimen sesuka hatimu untuk melakukan konversi tipe data dari sebuah variabel, tampilkan hasilnya juga ya!

In [ ]:
# Write your code below here & exec!
pi = '3.14'

# Tampilkan hasilnya
print(f'Nilai pi = {pi} dengan tipe data', type(pi))

Nilai pi = 3.14 dengan tipe data <class 'str'>

In [ ]:
# Konversi tipe data & tampilkan hasilnya
pi=float(pi)

print(f'Nilai pi = {pi} dengan tipe data', type(pi))

Nilai pi = 3.14 dengan tipe data <class 'float'>

In [ ]:
# Konversi tipe data & tampilkan hasilnya
pi = int(pi)

print(f'Nilai pi = {pi} dengan tipe data', type(pi))

Nilai pi = 3 dengan tipe data <class 'int'>

In [ ]:
#floor = pembulatan ke bawah
#round = pembulatan ke angka terdekat
#ceil = pembulatan ke atas

# üßÆ 6. Operasi Variabel

Variabel dapat juga dilakukan proses operasi baik operasi perhitungan maupun operasi yang lain. Berikut merupakan operasi variabel yang valid atau dapat dilakukan pada bahasa pemrograman Python

<ol>
<li>Operasi Aritmatika<br>
Operasi aritmatika hanya berlaku pada satu atau lebih variabel dengan tipe data numerik seperti float, int maupun bilangan kompleks.</br>

<p align="center">
<img src="http://lam-programming.weebly.com/uploads/2/3/3/2/23323570/screenshot-2018-12-11-11-57-08_orig.png" width="500" height="300" alt="alternatetext">
<p align="center"><b>Gambar 1. Operasi Pada Variabel</b></p></p><br>

</li>

<li>Operasi String<br>
String hanya dapat dioperasikan dengan sesama string menggunakan operator ( + ) untuk menggabung (<i>concatenate</i>) satu string dengan yang lain atau dapat juga dioperasikan dengan integer menggunakan operator ( * ) untuk melipatgandakan string sebanyak bilangan integer yang diinisialisasikan</br>

<p align="center">
<img src="https://files.transtutors.com/book/qimg/6bd88be4-d7be-4b4f-859e-2f95e9dc9962.png" width="400" height="500" alt="alternatetext">
<p align="center"><b>Gambar 2. Method pada String</b></p></p><br>
</li>
</ol>

### üë®‚Äçüíª Task 6 - A

Customer Satisfaction Score (CSAT) adalah metrik yang digunakan untuk mengukur tingkat kepuasan pelanggan terhadap produk atau layanan. Dirumuskan sebagai

  \begin{equation}
  CSAT =  \frac{Total\ Respon\ Positif}{Total\ Respon}*100
  \end{equation}

Dari 125 Responden, 13 diantaranya merespon negatif aplikasi terbaru yang di-deploy oleh DQtech karena ditemukan beberapa *bug*. Dengan bantuan Python, hitung berapa nilai metrik CSAT yang diperoleh oleh DQTech!

In [ ]:
# Fill the blank
total_responden = 125
respon_negatif = 13
respon_positif = total_responden - respon_negatif

# Hitung CSAT
CSAT = respon_positif / total_responden * 100

# Tampilkan CSAT
print(f'Customer Satisfaction Score = {CSAT:.2f}%')
print(f'Customer Satisfaction Score = {CSAT:.1f}%')
print(f'Customer Satisfaction Score = {CSAT}%')

Customer Satisfaction Score = 89.60%
Customer Satisfaction Score = 89.6%
Customer Satisfaction Score = 89.60000000000001%

### üë®‚Äçüíª Task 6 - B

Buatlah sebuah variabel yang menyimpan nilai '1nDon3s1A', perbaiki kata '1nDon3s1A' menjadi 'INDONESIA' lalu tampilkan hasilnya

In [ ]:
negara = '1nDon3s1A'

# Tampilkan hasilnya
print(negara)

1nDon3s1A

In [ ]:
# Perbaikan 1 - Ubah menjadi uppercase semua
negara = negara.upper()

print(negara)

1NDON3S1A

In [ ]:
# Perbaikan 2 - Ubah angka 1 menjadi I
negara = negara.replace('1','I')

print(negara)

INDON3SIA

In [ ]:
# Perbaikan 2 - Ubah angka 3 menjadi E
negara = negara.replace('3','E')

print(negara)

INDONESIA

In [ ]:
negara='1nDon3s1A'
negara=negara.upper()
negara=negara.replace('1','I')
negara=negara.replace('3','E')

print(negara)

INDONESIA

In [ ]:
negara = '1nDon3s1A'

negara=(negara.replace('1','I',2)).replace('3','E').upper()

print(negara)

INDONESIA

Tantangan 1 - Konversi Detik menjadi Jam:Menit:Detik

In [ ]:
##Pake yang ini aja lebih simpel
jumlah_detik=756
jam=jumlah_detik//3600
menit=(jumlah_detik-jam*3600)//60
detik=(jumlah_detik-jam*3600-menit*60)
print(f'{jam}:{menit}:{detik}')

##ATAU
jumlah_detik = 3892
jam=jumlah_detik/3600
jam=int(jam)

sisa_detik=jumlah_detik-(jam*3600)
menit=sisa_detik/60
menit=int(menit)

sisa_detik1=sisa_detik-menit*60
detik=sisa_detik1
detik=int(detik)

print(f'{jam}:{menit}:{detik}')

##ATAU
jumlah_detik = 3892
jam=int(jumlah_detik/3600)

sisa_detik=jumlah_detik-(jam*3600)
menit=int(sisa_detik/60)

sisa_detik1=sisa_detik-menit*60
detik=(sisa_detik1)

print(f'{jam}:{menit}:{detik}')

0:12:36
1:4:52
1:4:52

In [ ]:
jumlah_detik = input('Masukan jumlah detik : ')
jumlah_detik = int(jumlah_detik)

jam=jumlah_detik//3600
menit=(jumlah_detik-jam*3600)//60
detik=(jumlah_detik-jam*3600-menit*60)
print(f'HH:MM:SS = {jam}:{menit}:{detik}')

Masukan jumlah detik : 3892
HH:MM:SS = 1:4:52


---