#üé¨ **Prolog**

# ü§πüèº‚Äç‚ôÇÔ∏è **Condition Statement**

*   Percabangan dalam Python memungkinkan program untuk membuat keputusan berdasarkan kondisi yang diberikan.
*   Kondisi yang dieksekusi adalah sebuah pernyataan boolean (pernyataan yang bernilai benar \[True\] atau salah \[False\])
*   Untuk membuat sebuah pernyataan boolean, pada umumnya akan digunakan operator pembanding<br><br>

<p align="center">
<img src="https://codeforwin.org/wp-content/uploads/2017/08/if-else-statement-flow-chart.png" width="400" height="310" alt="alternatetext">
<p align="center"><b>Gambar 1. Konsep Percabangan</b></p></p><br>

Note : <i>Suatu kondisi / statement akan diperiksa terlebih dahulu. Jika memenuhi maka sebuah pernyataan akan dieksekusi, jika tidak maka akan diperiksa kondisi setelahnya dan seterusnya.</i>

## **1. Operator Pembanding**

*   Operator pembanding digunakan untuk membandingkan antara 2 nilai untuk menghasilkan nilai logika (<i>logical value</i>)
*   Nilai yang ingin dibandingkan harus dari tipe data yang sejenis
<br><br>
<p align="center">
<img src="https://www.devopsschool.com/blog/wp-content/uploads/2020/08/relational-operator-in-python.png" width="500" height="220" alt="alternatetext">
<p align="center"><b>Gambar 2. Operator Pembanding</b></p></p><br>


Note : <i>Simbol '=' (sama dengan) digunakan untuk assignment sebuah nilai pada variabel sedangkan simbol '==' digunakan untuk membandingkan atau memeriksa apakah dua variabel mempunyai nilai yang sama</i>

### üë®‚Äçüíª Task 1 - A

Buatlah dua variabel misalkan x dan y lalu assign variabel x dengan nilai 3 dan variabel y dengan nilai -4. Tebak apa output dari perintah dibawah ini jika dieksekusi?

```
print(x >= y)
```

In [ ]:
# Write your code below here & exec!
x = 3
y = -4

print(x >= y)

True

### üë®‚Äçüíª Task 1 - B

Jika benar <u>nilai</u> bertipe data karakter / string yang disimpan pada variabel bersifat <i>Case Sensitive</i> (peka terhadap besar kecilnya huruf), coba periksa kebenarannya (buktikan)!

In [ ]:
# Write your code below here & exec!
x = 'abm'
y = 'ABM'

print(x==y)

False

### üë®‚Äçüíª Task 1 - C

Eksekusi kode berikut

```
a = 3.0000000000000000001
b = 3
c = (a == b)
```

Kira - kira apa yang akan muncul saat `print(c)` dieksekusi setelahnya? Berikan alasanmu !

In [ ]:
# Write your code below here & exec! (19)
a = 3.0000000000000000001
b = 3
c = (a == b)

print(c)

x=3.001
y=3
z=(x==y)
print(z)

True
False

#### ***Apakah jika jumlah nol dikecilkan hasilnya tetap sama?***

In [ ]:
berbeda, hasilnya akan false. karena nilai x tidak mendekati nilai y

##üß© **2. Operator Logika**

*  Operator logika digunakan untuk mengkombinasi dan membandingkan 2 atau lebih pernyataan / kondisi boolean.<br><br>

<p align="center">
<img src="https://qph.cf2.quoracdn.net/main-qimg-b21874c7e7bdbefd344ad820798e6ab1" width="500" height="180" alt="alternatetext">
<p align="center"><b>Gambar 3. Operator Logika</b></p></p>

Dengan ketentuan :
<ol>
  <li>
     Kondisi <b>and</b> akan bernilai True jika semua kondisi boolean bernilai benar. Jika hanya ada satu saja kondisi bernilai salah (<i>False condition</i>) maka akan dihasilkan nilai False
  </li>
  <li>
     Kondisi <b>or</b> akan bernilai True jika minimal satu kondisi boolean bernilai benar. Jika semua kondisi bernilai salah, maka barulah kondisi or menghasilkan nilai False
  </li>
  <li>
     Kondisi <b>not</b> akan menegasikan / membalik kondisi sebenarnya (True menjadi False atau sebaliknya)
  </li>
</ol>

### üë®‚Äçüíª Task 2 - A

Untuk memasukan sebuah nilai anda dapat menggunakan fungsi `input('text')`. Misalkan hasil inputan user disimpan ke dalam sebuah variabel bernama `input_rataan_pengeluaran` kemudian periksa apakah rataan pengeluaran orang tersebut diantara IDR 4 s.d 7 juta? <br><br>


*Perlu diperhatikan bahwa input pada Python selalu me-return **string** sehingga kadangkala perlu dilakukan konversi tipe data*

In [ ]:
# Write your code below here & exec!
input_rataan_pengeluaran = input('Masukan pengeluaran : ')

# Konversi tipe data (str -> float)
input_rataan_pengeluaran = float(input_rataan_pengeluaran)

# Periksa kondisi
check = input_rataan_pengeluaran>4000000 and input_rataan_pengeluaran<7000000

# Tampilkan output
print(f'Apakah pengeluaran diantara 4 sampai 7 juta? {check}')

Masukan pengeluaran : 4500000
Apakah pengeluaran diantara 4 sampai 7 juta? True

In [ ]:
# Write your code below here & exec!
input_rataan_pengeluaran = input('Masukan pengeluaran : ')

# Konversi tipe data (str -> float)
input_rataan_pengeluaran = float(input_rataan_pengeluaran)

# Periksa kondisi
check = 4000000<input_rataan_pengeluaran<7000000
# Tampilkan output
print(f'Apakah pengeluaran diantara 4 sampai 7 juta? {check}')

Masukan pengeluaran : 5000000
Apakah pengeluaran diantara 4 sampai 7 juta? True

### üë®‚Äçüíª Task 2 - B

Bantu Sendja untuk memperbaiki sistem yang sedang ia buat, dimana asal penyebutan username sama dengan email yang ia daftarkan 'sendja@dqtech.com' maka variabel check akan bernilai True (mengabaikan besar kecilnya karakter)<br><br>

*Saat ini check masih bernilai False (lihat prompt dibawah)*

In [ ]:
# Write your code below here & exec!
username = 'sEnDJa@DQteCH.CoM'
email='sendja@dqtech.com'

# Proses validasi
check = username.casefold()==email.casefold()

# Tampilkan hasilnya
print(check)

True

## üé¢ **3. Membership Operator**

* Operator keanggotaan digunakan untuk menguji apakah urutan disajikan dalam suatu objek.
* Gunakan perintah <code><b>in</b></code> untuk pengujian keanggotaan
* Gunakan perintah <code><b>not in</b></code> untuk pengujian non - keanggotaan.

### üë®‚Äçüíª Task 3 - A

Periksa apakah <b>'Finance'</b> terdapat pada list `department_name`?

In [ ]:
department_name = ['Sales & Marketing', 'Information & Technology', 'Human Resource', 'General Affairs', 'Finance', 'Coorporate Secretary', 'Research & Development']

# Write your code below here & exec!
check = 'Finance' in department_name

# Tampilkan hasilnya
print(check)

True

In [ ]:
department_name = ['Sales & Marketing', 'Information & Technology', 'Human Resource', 'General Affairs', 'Finance', 'Coorporate Secretary', 'Research & Development']

# Write your code below here & exec!
check = (['Finance'] in department_name)

print(check)

False

In [ ]:
department_name = ['Sales & Marketing', 'Information & Technology', 'Human Resource', 'General Affairs', ['Finance'], 'Coorporate Secretary', 'Research & Development']

# Write your code below here & exec!
check = (['Finance'] in department_name)

print(check)
#ini artinya finance sebagai list

True

### üë®‚Äçüíª Task 3 - B

Sendja menuliskan sebuah kode untuk memeriksa apakah 123 termasuk anggota dari '123456'. Namun di dapati *error* saat dieksekusi. Bantu Sendja mendiagnosa mengapa hal ini terjadi dan coba lakukan *debug process* (perbaikan kode)

In [ ]:
# Lakukan perbaikan disini!
x = 123
y = '123456'

# Check membership
z = ...

# Show result
print(z)

True

In [ ]:
# Initialize Variable
x = 123
y = '123456'

# Check membership
z = (str(x) in y)

# Show result
print(z)

True

## ‚è∞ **4. Statement IF - ELIF - ELSE**

* Fungsi <b>if</b> merupakan kondisi yang digunakan untuk menentukan tindakan apa yang dilakukan sesuai dengan keadaan tertentu.
* Statement <code>if</code> diletakkan paling awal dan akan selalu dieksekusi saat di-*running*.
* Penggunaan fungsi <b>if</b> - <b>elif</b> - <b>else</b> dapat menyesuaikan sesuai kondisi yang diinginkan.
* Bentuk umum fungsi if adalah sebagai berikut :

```
    if(kondisi pertama):
        pernyataan yang akan dieksekusi jika kondisi terpenuhi
    elif(kondisi kedua):
        pernyataan yang akan dieksekusi jika kondisi terpenuhi
     ...

    else:
        pernyataan default akan dieksekusi jika tidak ada pernyataan diatas yang terpenuhi
```

Note : <i>Ketika sebuah kondisi terpenuhi, maka kondisi setelahnya tidak akan diperiksa namun jika tidak maka akan diperiksa kondisi setelahnya dan seterusnya sampai semua kondisi tidak memenuhi maka kondisi <b>else</b> (kondisi default) akan dieksekusi (hal ini berlaku secara berurutan)</i>

### üë®‚Äçüíª Task 4 - A

Saat sedang *flash sale*, DQTech memberikan diskon sebesar 10% setiap pembelian minimum IDR 100.000. Lakukan simulasi berikut :    

1.   Lakukan proses input untuk total pembelian
2.   Lakukan konversi tipe data (str -> float)
3.   Lakukan proses pemeriksaan kondisi <br>
     Jika lebih dari pembelian minimum, maka tampilkan pada prompt <br>**'Selamat anda mendapatkan diskon 10%'**
     <br>Jika tidak maka tampilkan <br>**'Maaf, total pembelian Anda belum mencapai minimum pembelian.'**

In [ ]:
# 1. Proses input untuk total pembelian
total_pembelian_str = input("Masukkan total pembelian: ")

# 2. Konversi tipe data
total_pembelian = float(total_pembelian_str)

# 3. Pemeriksaan kondisi
if total_pembelian>=100000:
  print(f'Selamat anda mendapatkan diskon 10%\nYEAYYY!!!')
else:
  print(f'Maaf, total pembelian Anda belum mencapai minimum pembelian')

Masukkan total pembelian: 20000
Maaf, total pembelian Anda belum mencapai minimum pembelian
YAHHH!!!

### üë®‚Äçüíª Task 4 - B

Setelah dievaluasi, manager operasional mengubah kebijakan diskon menjadi

*   Jika pembelian diatas IDR 75.000 maka mendapatkan discount 10%
*   Jika tidak memenuhi syarat diatas maka hanya mendapatkan discount 5%

Dengan cara yang sama seperti **Task 4 - A**, namun outputnya diubah menjadi

`'Anda Hanya Perlu Membayar IDR YYYYYYY dari Total Pembelian Anda IDR XXXXXXX'`<br>

<sup>XXXXXXX : <i>Harga sebelum diskon</i><br>
YYYYYYY : Harga setelah diskon</sup>

In [ ]:
# 1. Proses input untuk total pembelian
total_pembelian_str = input("Masukkan total pembelian: ")

# 2. Konversi tipe data
total_pembelian = float(total_pembelian_str)

# 3. Pemeriksaan kondisi
if total_pembelian>75000:
  harga_setelah_diskon=total_pembelian-10/100*total_pembelian
else:
  harga_setelah_diskon=total_pembelian-5/100*total_pembelian

# Tampilkan hasilnya
print(f'Anda Hanya Perlu Membayar IDR {harga_setelah_diskon} dari Total Pembelian Anda IDR {total_pembelian:,}')

Masukkan total pembelian: 100000
Anda Hanya Perlu Membayar IDR 90000.0 dari Total Pembelian Anda IDR 100,000.0

In [ ]:
# 1. Proses input untuk total pembelian
total_pembelian_str = input("Masukkan total pembelian: ")

# 2. Konversi tipe data
total_pembelian = float(total_pembelian_str)

# 3. Pemeriksaan kondisi
if total_pembelian >= 75000:
  diskon=10/100*total_pembelian
else:
  diskon=5/100*total_pembelian

harga_setelah_diskon=total_pembelian-diskon

# Tampilkan hasilnya
print(f'Anda Hanya Perlu Membayar IDR {harga_setelah_diskon} dari Total Pembelian Anda IDR {total_pembelian}')

Masukkan total pembelian: 75000
Anda Hanya Perlu Membayar IDR 67500.0 dari Total Pembelian Anda IDR 75000.0

### üë®‚Äçüíª Task 4 - C

Departmen Human Resource DQTech mengklasifikasikan Turn Over Rate (persentase karyawan yang keluar dari sebuah perusahaan dalam jangka waktu tertentu) adalah sebagai berikut

1.   Turnover Rate kurang dari 5% dikategorikan 'Rendah'
2.   Turnover Rate antara 5 - 10% dikategorikan 'Sedang'
3.   Turnover Rate lebih dari 10% dikategorikan 'Tinggi'

Misalkan pada awal tahun 2022, DQTech memiliki 1500 karyawan dan diakhir Desember karyawan yang masih bertahan sebanyak 1316. Hitung presentase Trun Over Rate di perusahaan DQTech dan tampilkan pula kategorinya menggunakan fungsi if

In [ ]:
# Write your code below here & exec!
total_karyawan_awal=1500
total_karyawan_akhir_str=input('Masukan total karyawan diakhir Desember = ')
total_karyawan_akhir=float(total_karyawan_akhir_str)

turn_over=total_karyawan_akhir/total_karyawan_awal*100
turn_over_rate=100-turn_over

if turn_over_rate<5:
  print(f'Turnover Rate Rendah')
elif turn_over_rate>=5 and turn_over_rate<=10:
  print(f'Turnover Rate Sedang')
else:
  print(f'Turnover Rate Tinggi')

Masukan total karyawan diakhir Desember = 1316
Turnover Rate Tinggi

## ‚è∞ **5. Nested IF**

Nested if merupakan penggunaan kondisi setelah sebuah kondisi terpenuhi (kondisi didalam kondisi). Bentuk umum nested if adalah sebagai berikut :

    if(kondisi pertama):
        if (kondisi 1 setelah kondisi pertama terpenuhi):
            pernyataan yang akan dieksekusi jika kondisi terpenuhi
        elif(kondisi 2 setelah kondisi pertama terpenuhi):
            pernyataan yang akan dieksekusi jika kondisi terpenuhi
        ...
        else:
            pernyataan yang akan dieksekusi jika kondisi terpenuhi

    elif(kondisi kedua):
        pernyataan yang akan dieksekusi jika kondisi terpenuhi </br>
     ...

    else:
        pernyataan default akan dieksekusi jika tidak ada pernyataan diatas yang terpenuhi</br>

### üë®‚Äçüíª Task 5

Sebelum mengeksekusi kode dibawah ini, coba kalian baca kode program dibawah ini dan prediksi apa kira-kira output yang dihasilkan jika x, y dan z ditampilkan!

In [ ]:
# Input variabel
a = input('Masukan nilai a : ')
b = input('Masukan nilai b : ')
c = input('Masukan nilai c : ')

# Data Type Convertion
a = float(a)
b = float(b)
c = float(c)

# Nested IF
if (a <= b):
    if (b <= c):
        x, y, z = a, b, c
    elif(a <= c):
        x, y, z = a, c, b
    else:
        x, y, z = c, a, b
else:
    if (a <= c):
        x, y, z = b, a, c
    elif(b <= c):
        x, y, z = b, c, a
    else:
        x, y, z = c, b, a

Masukan nilai a : 4
Masukan nilai b : 7
Masukan nilai c : 1

In [ ]:
print(f'a = {a}, b = {b}, c = {c}')

---

# üîÅ **Looping**

* Perulangan (<i>looping</i>) merupakan pernyataan atau instruksi yang diberikan kepada komputer agar ia mau melakukan sesuatu secara berulang.

* Perulangan hanya dapat dilakukan pada <i>iterables</i> (string, range, list, dict, dll)

<p align="center">
<img src="https://www.fireblazeaischool.in/blogs/wp-content/uploads/2020/06/Loop-in-Python-1024x576.png" width="500" height="280" alt="alternatetext">
<p align="center"><b>Gambar 4. Flowchart Looping</b></p></p><br>

## ü™§ 6. Looping dengan For atau While
Perulangan pada python dapat menggunakan perintah <b>for</b> maupun <b>while</b>

```
while(True Conditions):
    do something
```

atau

```
for element in iterables:
    do something
```

### üë®‚Äçüíª Task 6 - A

Range adalah fungsi atau konsep yang digunakan untuk membuat urutan bilangan bulat berurutan. Range biasanya digunakan dalam loop untuk mengeksekusi perintah berulang kali selama jumlah iterasi yang telah ditentukan. Secara umum ditulis sebagai

```
range(start, stop, step)
```

Dengan melakukan looping <i>for</i>, tampilkan barisan bilangan berikut :

1<br>
4<br>
7<br>
10<br>
13<br>

In [ ]:
# Write your code below here & exec!
for i in range(1, 14, 3):
  print(f'Nilainya adalah : {i}')

Nilainya adalah : 1
Nilainya adalah : 4
Nilainya adalah : 7
Nilainya adalah : 10
Nilainya adalah : 13

### üë®‚Äçüíª Task 6 - B

Pada *Customer Retention Analysis*, DQTech menetapkan status customer sebagai berikut

Customer yang melakukan pembelian pada :

* Rentang waktu 1 - 120 hari yang lalu (dari hari pertama pembelian) dikategorikan sebagai **New Customer**
* Rentang waktu 121 - 240 hari yang lalu (dari hari pertama pembelian) dikategorikan sebagai **Need Attention**
* Rentang waktu 241 - 360 hari yang lalu (dari hari pertama pembelian) dikategorikan sebagai **Hibernating**
* Lebih dari 360 hari dikategorikan sebagai **Can't Lose Them**

Dari hasil analisa *recency* berikut didapatkan data [187, 76, 51, 43, 89, 451, 12, 200, 12]

Buatlah kode untuk menampilkan hasil sebagai berikut
```
Recency = 187 masuk ke dalam kategori Need Attention
Recency = 76 masuk ke dalam kategori New Customer
...
```

In [ ]:
data_recency = [187, 76, 51, 43, 89, 451, 12, 200, 12, 89, 90, 3891, 900]

# Write your code below here & exec!
for recency in data_recency:
  if (1 <= recency <= 120):
    tipe='New Customer'
  elif (121 <= recency <= 240):
    tipe='Need Attention'
  elif(241 <= recency <= 360):
    tipe='Hibernating'
  else:
    tipe='Can\'t Lose Them'
  print(f'Recency = {recency} masuk ke dalam kategori {tipe}')

Recency = 187 masuk ke dalam kategori Need Attention
Recency = 76 masuk ke dalam kategori New Customer
Recency = 51 masuk ke dalam kategori New Customer
Recency = 43 masuk ke dalam kategori New Customer
Recency = 89 masuk ke dalam kategori New Customer
Recency = 451 masuk ke dalam kategori Can't Lose Them
Recency = 12 masuk ke dalam kategori New Customer
Recency = 200 masuk ke dalam kategori Need Attention
Recency = 12 masuk ke dalam kategori New Customer
Recency = 89 masuk ke dalam kategori New Customer
Recency = 90 masuk ke dalam kategori New Customer
Recency = 3891 masuk ke dalam kategori Can't Lose Them
Recency = 900 masuk ke dalam kategori Can't Lose Them

In [ ]:
data_recency = [187, 76, 51, 43, 89, 451, 12, 200, 12, 89, 90, 3891, 900]
# Write your code below here & exec!
for cust in data_recency:
  if (1 <= cust <= 120):
    print(f'Recency = {cust} masuk ke dalam kategori New Customer')
  elif (121 <= cust <= 240):
    print(f'Recency = {cust} masuk ke dalam kategori Need Attention')
  elif(241 <= cust <= 360):
    print(f'Recency = {cust} masuk ke dalam kategori Hibernating')
  else:
    print(f'Recency = {cust} masuk ke dalam kategori Can\'t Lose Them')

Recency = 187 masuk ke dalam kategori Need Attention
Recency = 76 masuk ke dalam kategori New Customer
Recency = 51 masuk ke dalam kategori New Customer
Recency = 43 masuk ke dalam kategori New Customer
Recency = 89 masuk ke dalam kategori New Customer
Recency = 451 masuk ke dalam kategori Can't Lose Them
Recency = 12 masuk ke dalam kategori New Customer
Recency = 200 masuk ke dalam kategori Need Attention
Recency = 12 masuk ke dalam kategori New Customer
Recency = 89 masuk ke dalam kategori New Customer
Recency = 90 masuk ke dalam kategori New Customer
Recency = 3891 masuk ke dalam kategori Can't Lose Them
Recency = 900 masuk ke dalam kategori Can't Lose Them

---

# üïµüèª‚Äç‚ôÇÔ∏è **Function**

* Function atau fungsi adalah blok kode yang terorganisir dan dapat digunakan kembali yang digunakan untuk melakukan satu tindakan terkait.
* Fungsi memberikan modularitas yang lebih baik untuk program dan penggunaan ulang kode tingkat tinggi.

* Bentuk umum fungsi :    

```
def nama_fungsi(argumen):
    isi_fungsi
    return (hasil)
```

*argumen dan <i>return</i> (nilai kembalian) salah satu atau keduanya bersifat opsional.*


Notes :
<li>Sebuah fungsi dapat dipanggil berulang kali</li>
<li>Penamaan fungsi mirip dengan aturan penamaan variabel</li>

## ‚öñÔ∏è 7. Argumen

Argumen (atau beberapa menyebut parameter) digunakan sebagai variabel bebas yang bisa diinisialisasikan oleh user sifatnya wajib dipanggil saat tidak disetting defaultnya. Perhatikan contoh berikut

```
def tampilkan_pelanggan(cust_name):
    print(f'Nama pelanggan = {cust_name}')
```

Saat fungsi tersebut dipanggil lalu diinisialisasi argumennya maka akan diperoleh

```
tampilkan_pelanggan(cust_name = 'Aksara')

output :
   Nama pelanggan = Aksara
```

Sedangkan jika tidak dipanggil argumennya maka akan mengakibatkan error

```
tampilkan_pelanggan()

output :
   ---------------------------------------------------------------------------
   TypeError                                 Traceback (most recent call last)
   <ipython-input-7-8e3e4532eb31> in <cell line: 1>()
   ----> 1 tampilkan_pelanggan()

   TypeError: tampilkan_pelanggan() missing 1 required positional argument: 'cust_name'
```

### üë®‚Äçüíª Task 7

Buatlah sebuah fungsi dengan nama fungsi `jenis_bilangan` dengan argumen yang dinamai dengan `data` (argumen ini bertipe data list numerik). Contoh :     

```
list_data = [1, 2, 6, 4, 3]

jenis_bilangan(data = list_data)

output :     
    Angka 1 termasuk bilangan ganjil
    Angka 2 termasuk bilangan genap
    Angka 6 termasuk bilangan genap
    Angka 4 termasuk bilangan genap
    Angka 3 termasuk bilangan ganjil    
```

In [64]:
# List data
list_data = [1, 2, 6, 4, 3, -5, -8, 0]

# Write your code below here & exec!
def jenis_bilangan(data=list_data):
  for i in data:
    if(i % 2 == 0):
      print(f'Angka {i} termasuk bilangan genap')
    else:
      print(f'Angka {i} termasuk bilangan ganjil')

# Terapkan fungsinya
jenis_bilangan(data=list_data)

Angka 1 termasuk bilangan ganjil
Angka 2 termasuk bilangan genap
Angka 6 termasuk bilangan genap
Angka 4 termasuk bilangan genap
Angka 3 termasuk bilangan ganjil
Angka -5 termasuk bilangan ganjil
Angka -8 termasuk bilangan genap
Angka 0 termasuk bilangan genap

## ü§ñ **8. Default Argumen**

* Default argument adalah nilai yang diberikan kepada suatu parameter fungsi jika tidak ada nilai yang diberikan oleh pemanggil fungsi untuk parameter tersebut.
* Ketika fungsi dipanggil, jika pemanggil fungsi tidak memberikan nilai untuk parameter yang memiliki argumen default, maka nilai default tersebut akan digunakan.

```
def tampilkan_pelanggan(cust_name = 'Anonymous'):
    print(f'Nama pelanggan = {cust_name}')
```

Saat fungsi tersebut dipanggil, namun argumen cust_name tidak diinisialisasikan maka nilai default-lah yang akan muncul

```
tampilkan_pelanggan()

output :
    Nama pelanggan = Anonymous
```

Namun jika argumen cust_name diberi nilai maka default argumen akan tergantikan

```
tampilkan_pelanggan(cust_name = 'Aksara')

output :
   Nama pelanggan = Aksara
```

Sehingga dapat disimpulkan jika argumen tidak diatur default argumennya maka argumen tersebut wajib (mandatory) diberi nilai / diinisialisasi, jika argumen default diatur maka statusnya turun dari mandatory menjadi opsional

### üë®‚Äçüíª Task 8

Salah satu proses ETL adalah Ekstraksi data atau mendapatkan data. Untuk mengkonversi data dari sebuah database SQL menjadi dataframe pandas (data yang bisa diolah dengan Python) adalah dengan menggunakan bantuan read_sql.<br><br>

Kunjungi laman dokumentasi resmi pandas.read_sql berikut https://pandas.pydata.org/docs/reference/api/pandas.read_sql.html dan catatlah argumen apa saja yang digunakan lalu beri keterangan pula mana saja yang merupakan argumen *mandatory* dan mana yang merupakan *argumen optional* (default argument)

##üé£**9. Return**

* Return digunakan sebagai nilai kembalian (fungsi menghasilkan sebuah objek / nilai)
* Sifatnya opsional

Perhatikan contoh berikut

```
def hasil_kali_dengan_return(x, y):
    result = x * y
    return(result)
```

Jika fungsi tersebut dieksekusi maka

```
z = hasil_kali_dengan_return(x = 5, y = -2)

print(z)

output :     
    -10
```

---

Bandingkan dengan

```
def hasil_kali_tanpa_return(x, y):
    result = x * y
```

Jika fungsi tersebut dieksekusi maka

```
z = hasil_kali_tanpa_return(x = 5, y = -2)

print(z)

output :     
    None
```

Kesimpulan : Jika ingin diperoleh suatu nilai dari hasil eksekusi fungsi, maka perlu menggunakan `return`, jika tidak maka tidak perlu digunakan

### üë®‚Äçüíª Task 9

Buatlah sebuah fungsi dengan nama fungsi `rataan_data` dengan argumen yang dinamai dengan `data` (argumen ini bertipe data list numerik). Contoh :     

```
list_data = [1, 2, 6, 8, 4, 3]

mean = rataan_data(data = list_data)

print(f'Rataan dari data {list_data} adalah {mean}')

output :     
    Rataan dari data [1, 2, 6, 8, 4, 3] adalah 4
```

In [4]:
list_data = [1, 2, 6, 8, 4, 3]

mean = sum(list_data)/len(list_data)

print(f'Rataan dari data {list_data} adalah {mean}')

Rataan dari data [1, 2, 6, 8, 4, 3] adalah 4.0

In [89]:
 list_data = [1, 2, 6, 8, 4, 3]

def hitung_rataan(data=list_data):
    mean = sum(data) / len(data)
    return (mean)

mean = hitung_rataan(data=list_data)

print(f'Rataan dari data {list_data} adalah {mean}')

Rataan dari data [1, 2, 6, 8, 4, 3] adalah 4.0

---